/**
 * Fields and Pickers
 *
 * @author Takuto Yanagida
 * @version 2023-12-27
 */

$breakpoint-single-wrap: 45rem;

.wpinc-meta-field-row,
.wpinc-meta-media-picker,
.wpinc-meta-date-picker,
.wpinc-meta-color-picker,
.wpinc-meta-color-hue-picker {
	&:not(:first-child) {
		margin-block-start: 0.75rem;
	}

	display        : flex;
	align-items    : center;
	justify-content: space-between;
	flex-wrap      : wrap;
	gap            : 0 0.5rem;

	> :is(label, .label) {
		width    : calc((#{$breakpoint-single-wrap} - 100%) * 9999);
		min-width: 30%;
		max-width: 100%;

		color      : #666;
		font-weight: bold;

		padding-block: 0.25rem;
	}

	> div {
		flex-grow: 1;
		max-width: calc(70% - 0.5rem);
	}
}

// ----

.wpinc-meta-field-row {
	> div {
		> input:not([type='checkbox']):not(.flatpickr-input),
		> textarea,
		> select {
			padding-block: 0.25rem;
			width        : 100%;
		}
	}

	&.textarea {
		align-items: flex-start;
		> div {
			display: flex;
		}
	}

	&.checkbox {
		> * {
			padding-block: 0.25rem;
		}
		> div {
			display      : flex;
			align-items  : center;
			gap          : 0.5rem;

			input {
				margin: 0;
			}
		}
	}
}

// ----

.wpinc-meta-field-separator {
	margin          : 1.5rem -12px;
	height          : 4px;
	background-color: #f1f1f1;
}

.wpinc-meta-field-group {
	&:not(:first-child) {
		margin-block-start: 0.75rem;
	}

	> *:not(:first-child) {
		margin-block-start: 0.5rem;
	}
}

// ----

.wpinc-meta-field-rich-editor {
	margin-block-start: 0.75rem;
	&:not(:first-child) {
		margin-block-start: 1.5rem;
	}
	&:not(:last-child) {
		margin-block-end: 1.5rem;
	}

	> label {
		display      : block;
		padding-block: 0 0.5rem;
		color        : #666;
		font-weight  : bold;
	}
	&.no-media-button > label {
		margin-bottom: -2rem;
	}
}

// ----

.wpinc-meta-media-picker {
	align-items: flex-start;

	> div {
		display: flex;

		> div:first-child {
			margin-right: 0.5rem;
		}
		> div:last-child {
			display        : flex;
			align-items    : flex-end;
			justify-content: space-between;
			flex-direction : column;
			flex-grow      : 1;

			input { width: 100%; }
		}
	}
}

.wpinc-meta-media-picker-select {
	&.button,
	&.button:focus,
	&.button:hover {
		width : 4rem;
		height: 4rem;
		@media screen and (max-width: 782px) {
			width : 4.5rem;
			height: 4.5rem;
		}

		background-repeat  : no-repeat;
		background-position: center center;
		background-size    : contain;
		background-color   : #f7f7f7;
	}
}

// ----

.wpinc-meta-date-picker {
	> div {
		display: flex;
		gap    : 0.5rem;
	}

	@media screen and (max-width: 782px) {
		a.button {
			margin: 0;
		}
	}
}

// ----

.wpinc-meta-color-hue-picker > div,
.wpinc-meta-color-hue-picker-tr td > div {
	display              : grid;
	grid-template-columns: auto 1fr auto;
	align-items          : center;
	gap                  : 0.5rem;
}

.wpinc-meta-color-hue-picker-tr td > div {
	width: 95%;
	@media screen and (max-width: 782px) {
		width: 100%;
	}
}

.wpinc-meta-color-hue-picker-sample {
	display   : grid;
	min-height: 30px;
	width     : 30px;
	@media screen and (max-width: 782px) {
		min-height: 40px;
		width     : 40px;
	}

	border       : 1px solid rgb(154, 154, 154);
	border-radius: 4px;

	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}


// -----------------------------------------------------------------------------


.wpinc-meta-field-tr.checkbox {
	@media screen and (max-width: 782px) {
		td {
			padding-block-start: 8px;
		}
	}
}

.wpinc-meta-field-tr.select {
	select {
		width: 95%;
		@media screen and (max-width: 782px) {
			width: 100%;
		}
	}
}

.wpinc-meta-field-separator-tr {
	:is(th, td) {
		position: relative;
		&::after {
			content   : '';
			position  : absolute;
			inset     : 50% 0 auto;
			height    : 0;
			border-top: solid 1px #666;
		}
	}
	td {
		inset-inline-end: 5%;
	}
	@media screen and (max-width: 782px) {
		th {
			padding-block: 1rem;
		}
		td { display: none; }
	}
}

.wpinc-meta-field-rich-editor-tr {
	td > div {
		width: 95%;
		@media screen and (max-width: 782px) {
			width: 100%;
		}
	}
}

// ----

.wpinc-meta-field-tr-multiple {
	&:not(.wpinc-meta-field-tr-first) {
		:is(td, th) {
			padding-block-start: 5px;
		}
	}
	&:not(.wpinc-meta-field-tr-last) {
		:is(td, th) {
			padding-block-end: 5px;
		}
	}
}

// ----

.wpinc-meta-media-picker-tr {
	td > div {
		display: flex;
		width  : 95%;
		@media screen and (max-width: 782px) {
			width: 100%;
		}

		> div:first-child {
			margin-right: 0.5rem;
		}
		> div:last-child {
			display        : flex;
			align-items    : flex-end;
			justify-content: space-between;
			flex-direction : column;
			flex-grow      : 1;

			input { width: 100%; }
		}
	}
}

.wpinc-meta-date-picker-tr {
	td {
		display: flex;
		gap    : 0.5rem;
	}

	input[type=text] {
		width: auto;
	}

	@media screen and (max-width: 782px) {
		td input[type=text] {
			display: unset;
			width  : auto;
		}

		a.button {
			margin: 0;
		}
	}
}
